:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}

.characters-container {
  display: flex;
  justify-content: space-evenly
}

.card {
  border: 2px solid white;
  padding: 5px 5px 20px 5px;
  margin: 10px;
  border-radius: 10px;
}

.random-card {
  background-color: rgb(97, 54, 0);
}

#random button {
  background-color: rgb(97, 54, 0);
  border-color: white;
  padding: 10px;
  border-radius: 5px;
}

.fav-card {
  background-color: rgb(10, 74, 0);
}

.fav-card button {
  background-color: darkred;
  border-color: white;
  padding: 10px;
  border-radius: 5px;
}